{
  "presets": [
      ["@babel/preset-env", {
	      "loose": true,
        "targets": {
          "node": "4.0",
	        "browsers": [ ">0.25%", "not dead" ]
        }
      }]
   ] ,
  "plugins": ["@babel/plugin-transform-modules-umd"]
}
